name: CI_server_dev

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
        cache-dependency-path: Linked_crystal/server/src/go.sum

    - name: Run Tests
      working-directory: Linked_crystal/server/src
      # Usamos nuestro script para obtener colores y resumen en los logs de CI
      run: |
        chmod +x run_tests.sh
        ./run_tests.sh
